<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://zoooo-hs/iPodPlayer" version="1.0.0" viewmodes="maximized">
    <tizen:application id="J5fvPvBOfX.iPodPlayer" package="J5fvPvBOfX" required_version="2.3"/>
    <author href="https://zoooo-hs.github.io" email="dogfooter219@gmail.com">zoooo-hs</author>
    <content src="index.html"/>
    <description>iPod Classic Music Player
iPod Classic 음악을 듣기 위한 앱</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>iPodPlayer</name>
    
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
	<tizen:privilege name="http://tizen.org/privilege/mediastorage"/>
	<tizen:privilege name="http://tizen.org/privilege/externalstorage"/>
	<tizen:privilege name="http://tizen.org/privilege/content.read"/>
	<tizen:privilege name="http://tizen.org/privilege/content.write"/>
    
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
